/* the styles for the elements */
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
	width: 800px;
	margin: 0 auto;
	border: 3px solid #931420;
	background-color: #fffded;
}

/* the styles for the header */
header {
	border-bottom: 3px solid #931420;
	padding-top: 1.5em;
	padding-bottom: 2em;
	background: linear-gradient(30deg, #f6bb73 0%, white 35%, white 50%, white 75%, #f6bb73 100%); 
}
header img {
	float: left;
	padding-left: 30px;
	padding-right: 30px;
}
header h2 {
	font-size: 170%;
	color: #800000;
}
header h3{
	font-size: 130%;
	font-style: italic;	
}

.shadow {
	text-shadow: 2px 2px #800000;
}	

/* the styles for the section */
main {
	clear: left;
}

h1{
	font-size: 150%;
	padding-top: 0.5em;
	padding-bottom: 0.25em;
	margin-top: 0;
	margin-bottom: 0;
}

article {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	border-top: solid 2px;
	border-bottom: solid 2px;
	border-color: #800000;
}
article p {
	margin: 0;
}
article img {
	float: right;
	margin: 10px;
	border: 1px solid black;
}
article h3 {
	font-size: 105%;
	padding-bottom: 0.25em;
}

section {
	width: 525px;
	float: right;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}
section h2 {
	font-size: 130%;
	color: #800000;
	padding-top: 0.5em;
	padding-bottom: 0.25em;
}
section p {
	padding-bottom: 0.5em;
}
article h2, h3 {
	padding-top: 0;
	margin: 0;
}

aside {
	width: 215px;
	float: right;
	padding-left: 20px;
	padding-bottom: 20px;
}
aside h2 {
	font-size: 130%;
	color: #800000;
	padding-top: 0.5em;
	padding-bottom: 0.25em;
}
aside img{
	padding-bottom: 1em;
}

blockquote {
	padding-right: 2em;
	padding-left: 2em;
	font-style: italic;
}
ul {
	padding-bottom: 0.25em;
	padding-left: 1.25em;
}
li {
	padding-bottom: 0.35em;
}
a:hover{	
	font-style: italic;
}

/* the styles for the footer */
footer {
	background-color: #931420;
	clear: right;
	text-align: center;
	color: white;
}
footer p {
	padding-top: 1em;
	padding-bottom: 1em;
}